In [108]:
import pandas as pd
gzmt = pd.read_csv(R'data\600519.csv')

In [109]:
gzmt.info

<bound method DataFrame.info of              day  STOCK_CODE    open   close  maximum  minimum  volume  \
0     2001-08-27     6005191   34.51   35.55    37.78    32.85  406318
1     2001-08-28     6005191   34.99   36.86    37.00    34.61  129647
2     2001-08-29     6005191   36.98   36.38    37.00    36.10   53252
3     2001-08-30     6005191   36.28   37.10    37.51    36.00   48013
4     2001-08-31     6005191   37.15   37.01    37.62    36.80   23231
...          ...         ...     ...     ...      ...      ...     ...
4089  2018-10-29     6005191  549.09  549.09   549.09   549.09   49076
4090  2018-10-30     6005191  510.00  524.00   543.00   509.02  204397
4091  2018-10-31     6005191  527.00  548.90   555.00   522.00   96885
4092  2018-11-01     6005191  555.00  563.00   585.50   551.25   98107
4093  2018-11-02     6005191  585.00  599.90   600.00   572.24   89157

         TURNOVER
0      1410347008
1       463463008
2       194689000
3       177558000
4        86231000
...           ...
4089   2694714080
4090  10663392512
4091   5239853056
4092   5581027328
4093   5227695104

[4094 rows x 8 columns]>

In [110]:
gzmt.describe()

,STOCK_CODE,open,close,maximum,minimum,volume,TURNOVER
count,4094.0,4094.000000,4094.000000,4094.000000,4094.000000,4094.000000,4.094000e+03
mean,6005191.0,182.161910,182.435230,184.879680,179.801353,27092.525892,6.487986e+08
std,0.0,165.857882,165.994905,168.082099,163.752065,24623.472099,9.550262e+08
min,6005191.0,20.900000,20.880000,21.000000,20.710000,238.000000,1.421413e+06
25%,6005191.0,47.405000,47.482500,48.222500,46.705000,10186.750000,6.203505e+07
50%,6005191.0,159.930000,159.980000,161.910000,157.875000,22491.000000,3.727192e+08
75%,6005191.0,208.500000,209.457500,212.175000,205.945000,36759.500000,7.486596e+08
max,6005191.0,800.000000,799.190000,803.500000,788.880000,406318.000000,1.066339e+10

In [111]:
gzmt[['open','close']].describe()

              open        close
count  4094.000000  4094.000000
mean    182.161910   182.435230
std     165.857882   165.994905
min      20.900000    20.880000
25%      47.405000    47.482500
50%     159.930000   159.980000
75%     208.500000   209.457500
max     800.000000   799.190000

In [112]:
result = gzmt['open'].unique

In [113]:
result2 = gzmt.close.value_counts()

In [114]:
df = pd.DataFrame({
    "name":["A","B","C","B","C","A","C"],
    "value":[1,3,7,2,4,3,1]
})
df.groupby("name")["value"].max()

name
A    3
B    3
C    7
Name: value, dtype: int64

In [132]:
df = pd.DataFrame({
    "姓名":["闵玧其","黄冠亨","郑号锡","刘扬扬","肖俊"],
    "年龄":[30,24,29,23,24]
})
df.groupby("姓名")["年龄"].max()

姓名
刘扬扬    23
肖俊     24
郑号锡    29
闵玧其    30
黄冠亨    24
Name: 年龄, dtype: int64

In [133]:
data = {
    "姓名":["闵玧其","黄冠亨","郑号锡","刘扬扬","肖俊"],
    "年龄":[18,19,20,18,19],
    "班级":['BTS','WAYV','BTS','WAYV','WAYV'],
    "成绩":[90,85,78,92,88]
    }

df = pd.DataFrame(data)

def average_score(group):  
    return group['成绩'].mean()  
  
correct_column_name ='成绩'.strip()  # 移除前后的空格  
result = df.groupby('班级')[correct_column_name].apply(average_score)  
print(result)

KeyError: '成绩'

In [ ]:
print(df.columns)

In [ ]:
result = df.group